.projects_container {
  padding: 40px 0;
  background-color: rgb(241, 239, 239);
}

.projects_container > .project_text_container > h3 {
  text-align: center;
  font-size: 20px;
  font-weight: 500;
}

.projects_container > .projects_item_container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.projects_container > .projects_item_container > .project_item {
  margin: 10px;
}

.project_image {
  mix-blend-mode: multiply;
  margin: 10px 0;
}

.project_details {
  margin: 15px 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 200px;
}

/* for mobile devices */

@media only screen and (max-width: 768px) {
  .projects_container > .projects_item_container {
    flex-direction: column;
  }
}
