.running_desc {
  font-size: 30px;
  text-align: center;
  transition: 1s;
  font-weight: 700;
  height: 8vh;
}

/* for mobile use */

@media only screen and (max-width: 768px) {
  .running_desc {
    font-size: 24px;
    margin: -25px 0 -10px 0;
  }
}
