.header_container {
  width: 100%;
  background-color: black;
  height: 9vh;
  color: #fff;
  display: flex;
  justify-content: space-evenly;
  position: sticky;
  top: 0;
  z-index: 1;
  transition: all 0.8s ease;
}

.left_container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 30%;
}

.left_container > h2 {
  font-weight: 800;
  padding: 3px 10px;
  border-radius: 7px;
}

.right_container {
  display: flex;
  width: 70%;
  align-items: center;
  justify-content: space-around;
}
.right_container > .nav_links {
  display: flex;
  align-items: center;
  justify-content: space-around;
  width: 42%;
  border-bottom: none;
  transition: border 1s;
}

.right_container > .nav_links > li > a {
  text-transform: capitalize;
}
.right_container > .nav_links > li > a:hover {
  border-bottom: 1px solid red;
  color: #acaaaa;
}
.active {
  border-bottom: 1px solid red;
  color: #acaaaa;
}

.hamburger_icon {
  display: none;
}

.right_container > .social_links {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 15%;
  font-size: 22px;
}

.right_container > .social_links > li > a:hover {
  color: #acaaaa;
}

/* for Tab devices */
@media only screen and (min-width: 768px) and (max-width: 1023px) {
  .right_container > .nav_links {
    width: 60%;
  }
  .right_container > .social_links {
    width: 22%;
  }
}

/* for mobile */
@media only screen and (max-width: 768px) {
  .header_container {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px 25px 10px 0;
  }
  .left_container {
    width: 100%;
    display: flex;
    justify-content: flex-start;
  }
  .mobile_right_container {
    width: 70%;
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: unset;
    height: 100vh;
    left: 0;
    top: 58px;
    background-color: rgba(0, 0, 0, 0.682);
    transition: all 1s ease;
  }

  .hamburger_icon {
    display: flex;
    font-size: 25px;
    width: 80px;
    justify-content: space-between;
  }
  .hidden {
    left: -550px;
  }
  .mobile_right_container > .nav_links {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 40%;
    width: 100%;
    margin-top: 85px;
  }

  .mobile_right_container > .social_links {
    height: 30%;
    width: 60%;
    display: flex;
    margin-top: 25px;
  }

  .mobile_right_container > .nav_links > a {
    text-transform: capitalize;
  }

  .mobile_right_container > .nav_links > a:focus {
    border-bottom: 1px solid red;
  }
}
