.footer {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  height: 10vh;
  background-color: rgb(214, 212, 212);
}

.right_footer > ul {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 140%;
}
