.carousal_top_section {
  margin: 10px;
}

#image {
  position: "absolute";
  display: none;
  top: 0;
  left: 0;
  opacity: 0;
  z-index: -1;
}

.btn_img_group {
  display: flex;
  justify-content: space-evenly;
  /* align-items: center; */
}

/* .upload_btn {
  background-color: red;
  padding: 3px 10px;
  color: #fff;
  border-radius: 4px;
  cursor: pointer;
} */

.image_card {
  text-align: center;
  transition: all 0.2s ease;
  position: relative;
  margin: 0 5px;
}

.remove_image {
  position: absolute;
  left: 15px;
  top: 4px;
  width: 20px;
  color: red;
  font-weight: 900;
  font-size: 12px;
  cursor: pointer;
  transition: all 0.2s ease;
}

.remove_image:hover {
  background-color: black;
  color: #fff;
  border-radius: 50%;
}

.image_box {
  display: flex;
  padding: 20px;
  justify-content: center;
  max-width: 70%;
  flex-wrap: wrap;
}

.image_box > * > .small_img_card {
  border: 1px solid red;
  border-radius: 5px;
  cursor: pointer;
  height: 60px;
}
.image_box > .image_card:hover {
  transform: scale(1.1);
  opacity: 0.6;
}

.currentSelectedImage {
  transform: scale(1.1);
}

.selected_image_box {
  width: 100%;
  height: 70vh;
  position: sticky;
  text-align: center;
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
}

.selected_image_box > .selected_image {
  width: 100%;
  height: 100%;
  object-fit: contain;
  z-index: -100;
}

.slide {
  animation: slide 1s ease-in-out;
}
.fade {
  animation: fade 1s ease-in-out;
}

.delay {
  background-color: #f4f1f1;
  padding: 3px 8px;
  border-radius: 5px;
  margin-left: 5px;
}

.clear-all {
  height: 30px;
}

.delay-container {
  margin-top: 10px;
}
.desc-image {
  margin-bottom: 7px;
}

.sliderBtn {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 60px;
  height: 60px;
  border-radius: 50%;
  position: absolute;
  top: 40%;
  cursor: pointer;
  transition: all 0.3s;
  user-select: none;
  font-size: 8rem;
}

.prevBtn {
  left: -100px;
  animation: prevBtn 0.3s 0.5s linear 1 forwards;
}
.nextBtn {
  right: -100px;
  animation: nextBtn 0.3s 0.5s linear 1 forwards;
}

.nextBtn:hover {
  transform: scale(1.2);
}
.prevBtn:hover {
  transform: scale(1.2);
}

@keyframes fade {
  from {
    transform: scale(1);
  }
  to {
    transform: scale(0.2);
  }
}

@keyframes slide {
  from {
    transform: translateX(100%);
  }
  to {
    transform: translateX(0);
  }
}

@keyframes prevBtn {
  from {
    left: -100px;
    opacity: 0;
  }
  to {
    left: 150px;
    opacity: 1;
  }
}

@keyframes nextBtn {
  from {
    right: -100px;
    opacity: 0;
  }
  to {
    right: 150px;
    opacity: 1;
  }
}
