.generate_header {
  font-size: 25px;
  font-weight: bold;
  text-align: center;
  border-bottom: 1px solid black;
  margin: 6px;
  padding-bottom: 6px;
}

.form_box {
  margin: 10px 0;
  text-align: center;
  display: flex;
  justify-content: space-around;
}

.left_form_box {
  padding: 15px;
  box-shadow: 1px 1px 5px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
}

.form_data {
  word-wrap: break-word;
}

#to-generate-forms,
.to-generate-forms {
  border: 0.3px solid black !important;
}

.generated_form {
  width: 35%;
}

.radio_btns {
  display: flex;
}
.radio_btns > div {
  margin: 0 10px 0 0;
}

.generateFormDesc {
  /* margin: 6px; */
  width: 60%;
  margin: 0 auto;
}

/* for Tab use*/
@media only screen and (min-width: 768px) and (max-width: 1023px) {
  .form_box {
    flex-wrap: wrap;
  }

  .form_data {
    width: 40%;
    margin: 20px 0;
    box-shadow: 1px 1px 5px 1px rgba(0, 0, 0, 0.2);
    padding: 15px;
  }

  .generated_form {
    margin-top: 20px;
  }
}

/* for Mobile use*/
@media only screen and (max-width: 768px) {
  .form_box {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
  }

  .generated_form {
    width: 80%;
  }
  .form_data {
    width: 80%;
    margin: 20px 0;
    box-shadow: 1px 1px 5px 1px rgba(0, 0, 0, 0.2);
    padding: 15px;
  }
}
